<html>
<body>
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="style.css" type="text/css">
            <title>Controller</title>
    </head>
      
    <h1>Bot Controller</h1>
    <input type="button" id="start_button" value="start">
    <input type="button" id="stop_button" value="stop"> <br>
    <div id=status>

    </div>
    <div class='side_wrapper'>
        <div class='map_wrapper' id='left_div'>
        </div>
        <div class='map_wrapper' id='right_div'>
        </div>    
    </div>
    <script src="controller_cl.js"></script>
</body>
</html>
