<html>
<body>
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="style.css" type="text/css">
            <title>Simulator</title>
    </head>
      
    <h1>Bot Simulator</h1>
    <p>Hello Simulator!</p>
    <!--<script src="bundle_controller.js"></script>-->
</body>
</html>
