<html>
<body>
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="style.css" type="text/css">
            <title>Tester</title>
    </head>
      
    <h1>Bot Tester</h1>
    <p>Hello Tester! Get Executions</p>
    <input type="button" id="start_button" value="get_exec">
    <p id="progress"></p>
    <p id="get_count"></p>
    <!-- <script src="tester_cl.js"></script> -->
    <script src="tester_get_executions_cl.js"></script>
</body>
</html>
